.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./backgrounds/Priest-Undead.jpg");
  background-size: cover;
  overflow: hidden;
  text-align: center;
  height: 100vh;
}

.name-and-ability-pane {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 30px;
  padding: 30px;
  opacity: 50;
  width: 50%;
  min-width: 450px;
  margin: 0, auto;
}

@keyframes exitAnimation {
  0% {
    opacity: 1;
    box-shadow: 0 0 40px 5px #ffffb3;
  }
  25% {
    border: none;
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0.2);
    margin-left: 450px;
    margin-bottom: 450px;
    display: none;
  }
}

@keyframes incorrectAnimation {
  0% {
    box-shadow: 0 0 40px 5px red;
    margin-left: 30px;
    margin-right: 0px;
  }
  100% {
    margin-left: 0px;
    margin-right: 30px;
    box-shadow: 0 0 40px 5px red;
  }
}

@keyframes initAnimation {
  0% {
    opacity: 0;
    transform: scale(3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.current-ability-incorrect {
  animation-name: incorrectAnimation;
  animation-duration: 30ms;
  animation-iteration-count: 10;
}

.current-ability-animate {
  animation-name: exitAnimation;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.current-ability-init {
  animation-name: initAnimation;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.current-ability {
  box-shadow: 0 0 60px 10px #0040ff;
  border-radius: 10px;
}

.current-ability-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.wow-class-name {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wow-class-name-icon {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.abilities-mapped{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.individual-ability-mapped{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2em;
  margin-left: 10px;
  margin-right: 10px;
}

input{
  width: 60px;
  background: rgba(255,255,255,.2);
  border: none;
  color: white;
  text-align: center;
  font-size: .8em;
}